form{
    display: flex;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(90deg,#ff690f,#eb320d);
    position: absolute;
}
.search-line{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 8px 2px #00000020, 2px 6px 20px 2px #00000019;
}
.click-on-input{
    background-color: #FE8449;
    width: 90%;
    height: 60px;
    border-radius: 0 2px 2px 0;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    
}
.input-container{
    width: 94.5%;
    height: 50px;
    margin: 0 auto;
    margin-right: 15px;
    background-color: white;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 15px;
}
input{
    width: 85%;
    height: 25px;
    border: none;
    border-radius: 0 2px 2px 0;
    position: relative;
    margin-top: 11px;
    margin-left: 7px;
    padding: 0;
}
input:focus{
    outline: none;
}
input[type="text"]{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
label{
    display: flex;
    font-size: 13px;
    color: gray;
    margin-left: 35px;
}
.moviename-label{
    font-size: 10px;
    color: gray;
}
.search-icon{
    border: 0;
    border-radius: 2px;
    margin-left: 3px;
}
.search-icon svg{
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-right: 5px;
    padding-left: 5px;
    fill: #FE8449;
    display: block;
    margin: 0 auto;
}
.movie-svg{
    height:25px;
    width: 40px;
    fill: white;
    background-color: #FE8449;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-right: 2.5px;
    padding-left: 2.5px;
}
.movie-svg-input{
    height: 20px;
    width: 20px;
    margin-left: 7px;
    vertical-align: middle;
}
::placeholder { /* Most modern browsers support this now. */
    color:    black;
    font-weight: bold;
}
.movies-list{
    width: 100%;
    float: left;
    position: relative;
}
ul{
    margin: 0;
    list-style:none;
    box-shadow: 3px 4px 8px 2px #00000020, 2px 6px 20px 2px #00000019;
    background-color: white;
}
li{
    margin-top: 15px;
}
li span{
    font-weight: bold;
}
.loading{
    font-weight: bold;
    background-color: white;
    margin-top: 15px;
    padding-left: 35px;
    box-shadow: 3px 4px 8px 2px #00000020, 2px 6px 20px 2px #00000019;
}
.outclick{
    display: flex;
    height: 2000px;
    width: 100%;
}
@media only screen and (max-width: 1286px) {
    .input-container {
      width: 100%;
    }
  }